.single-order {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #f6ab36;
  color: rgb(29, 29, 29);
  border-radius: 6px;
}
.single-order p {
  font-size: 10px;
}
.pending,
.approved {
  padding: 5px 8px;
  border-radius: 15px;
  color: rgb(31, 31, 31);
  font-size: 13px;
}
.approved {
  background: rgba(2, 255, 65, 0.507);
}
.pending {
  background: rgba(255, 196, 2, 0.507);
}
.order-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* responsive design */
@media only screen and (max-width: 767px) {
  .single-order {
    width: 100%;
    display: block;
    text-align: center;
  }
}
